
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post">
        <select name="weapon">
            <option></option>
            <option value="1">Sword</option>
            <option value="2">Bazooka</option>
        </select><br />
        <input type="submit" value="Send" />
    </form>
</body>
</html>
