
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shoot</title>
</head>
<body>
    <h3>
        Warrior say:"@ViewBag.shoot"
    </h3>
</body>
</html>
